* {
  margin: 0;
  padding: 0;
}

.backgr {
  background-image: url("../resources/homebg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Acme", sans-serif;
}

.header__li {
  padding: 30px 0px;
  list-style: none;

  a {
    text-decoration: none;
    transition: font-size 0.2s;
    &:hover {
      font-weight: bolder;
      font-size: larger;
    }
  }
}

footer {
  background-color: #212529;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  a {
    text-decoration: none;
    transition: font-size 0.2s;
    color: white;
    &:hover {
      font-weight: bolder;
      font-size: larger;
    }
  }
}

article h1 {
  display: inline-block;
  width: auto;
  color: #fff;

  span {
    display: block;
    width: auto;
    color: #fff;
  }
}

.opacityBg {
  background-color: rgba(0, 0, 0, 0.3);
}

div {
  text-align: center;
  display: block;

  article {
    color: white;
    font-size: large;

    section {
      padding: 15px;
    }
  }
}

.separator {
  margin-top: 85px;
}

.format--center {
  text-align: center;
  display: block;
}

@media screen and (max-width: 995px) {
}
@media all and (max-width: 600px) {
  iframe {
    width: 300px;
    height: 175px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.fadeOutAnimation {
  opacity: 0;
  visibility: hidden;
}
