@use "vars";

$fontColor: vars.$fontColor;

footer {
  background-color: vars.$backgrColor;
  position: fixed;
  bottom: 0;
  text-align: center;
  @include vars.size(100%,auto);
  a {
    text-decoration: none;
    transition: font-size 0.2s;
    color: $fontColor;
    &:hover {
      font-weight: bolder;
      font-size: larger;
      color: $fontColor;
    }
  }
}

article h1 {
  display: inline-block;
  width: auto;
  color: $fontColor;

  span {
    display: block;
    width: auto;
    color: $fontColor;
  }
}

div {
  text-align: center;
  display: block;

  article {
    color: $fontColor;
    font-size: large;

    section {
      padding: 15px;
    }
  }
  button {
    width: auto;
    border: 4px solid vars.$btnBorder !important;
    border-radius: 8px;
    color: $fontColor;
    background-color: vars.$btnColor !important;
    font-size: large;
    &:hover {
      background-color: vars.$btnColorHover !important;
      border-color: vars.$btnBorderHover !important;
      transition: all 0.5s ease;
      font-size: large;
    }
  }
}

.backgr {
  background-image: url(vars.$backgr);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Acme", sans-serif;
}
