@use "vars";

.gallery {
  ul {
    li {
      vertical-align: top;
      display: inline-block;
      @include vars.size(155px,150px);
      padding-top: 15px;

      a {
        display: block;
        @include vars.size(128px,auto);
        &:hover {
          zoom: 110%;
          border: 4px solid aqua;
          border-radius: 8px;
          transition: all 0.25s ease;
        }
      }
    }
  }
}
