.gallery {
  ul {
    li {
      vertical-align: top;
      display: inline-block;
      width: 155px;
      height: 150px;
      padding-top: 15px;

      a {
        display: block;
        width: 128px;
        &:hover {
          zoom: 110%;
          border: 4px solid aqua;
          border-radius: 8px;
          transition: all 0.25s ease;
        }
      }
    }
  }
}
