// COLORS

$btnColor: #21726a;
$btnBorder: #194641;
$btnColorHover: #00ad9c;
$btnBorderHover: #358f84;
$backgrColor: #212529;
$fontColor: white;

// ADD OPACITY

$opSelector: 0.3;

// BACKGROUND IMAGE

$backgr: "../resources/homebg.png";

// FORMATTING
// separator is margin top

$separator: 85px;

// SET ELEMENTS WIDTH AND HEIGHT
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
